.color-fondo{
    background-color: rgba(92,117,146,.9) ;
    height: 100%;
    width: 150vh;
}
textarea{
    height: 40vh;
    border-radius: 8px;
}
.color, .form-label{
    color: #223142 ;
}
.boton-contact{
    background-color: #344d67 ;
    color: #f5f5f5 ;
}
.boton-contact:hover{
    background-color: #6eccaf ;
    color: #344d67 ;
}
textarea:focus{
outline: none;
box-shadow: 2px 2px 2px 2px #86b7fe;
border: none;
}
/* .contact{
    position: fixed;
} */