.altura{
    height: 100vh;
}
.fondo-blanco{
    background-color: #ffffffe6 ;
    height: 600px;
    width: 600px;
}
h2, p{
    color: #344d67;
}
h1{
    color: #344d67;
    font-weight: 500;
}
p{
    margin-top: 0;
    margin-bottom: 1rem;
}
.navbar{
    padding: 0.5 0;
}
.boton{
    background-color: #344d67;
    color: #6eccaf;
    text-decoration: none;
    width: 18vh;
    border-radius: 8px;
}
.boton:hover{
    background-color: #6eccaf;
    color: #344d67;
}
@media screen and (max-width:800px) {
    h2{
        color: #6eccaf;
    }
    
}
@media screen and (max-width:768px) {
    .fondo-blanco{
        width: 90%;
    }
    .boton-content{
        display: flex;
        flex-direction: column;
    }
}