.card{
    background-color: #223142 !important;
    width: fit-content !important;
}
.size-name{
    width: 300px;
    color: #344d67;
}
.boton{
    background-color: #6eccaf!important;
    color: #344d67!important;
    width: fit-content !important;
}