.fondo{
    background-color: #344d67;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    display: block;
}
.titulo{
    color: #6eccaf;
}
.text{
    text-decoration: none;
    cursor: pointer;
    padding: 40px 80px;
    font-weight: 500;
}
.nav-item a{
    border-radius: 5px;
    padding: 12px ;
}
.enlaces{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.continuo {
    background-color:#6eccaf;
    color:#344d67 !important;
    text-decoration: none;
    cursor: pointer;
}
.no-continuo{
    text-decoration: none;
    color: #6eccaf;
}
.no-continuo:hover{
    background-color: #6eccaf;
    color: #344d67 ;
}
.bi{
    font-size: 6vh;
    color: #6eccaf;
}

@media screen and (max-width:992px){
    .fondo{
        height: 55vh;
        width: 100%;
    }
    .navbar-toggler:active{
        border: 4px solid ;
    }
    .nav-item{
        display: flex;
        gap: 10px;
    }
    
    
}
@media  screen and (max-width:800px) {
    .fondo{
        height: 20vh;
        width: 100%;
    }
    .collapse:not(.show){
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-collapse{
        background-color: #344d67 !important;
        flex-basis: 100%;
        flex-grow: 1;
    }
    

    
    
}