.diseño{
    background-color: #344d67 ;
    border-radius: 8px;
    color: #b1f0dc; 
}
.form-check-input{
    background-color:#6eccaf ;
}
.form-check-input:checked{
    background-color: #223142 ;
}
.form-check .form-check-input{
    float: left;
}
/* @media screen and (max-width:800px) {
    .media-form{
        display: none;
    }
} */