.diseño{
    background-color: #344d67 ;
    border-radius: 8px;
    width:fit-content !important;
    box-sizing: content-box ;
    color: #b1f0dc ;
    display: flex;
    gap: 10px;
   
}
.form-check-input{
    background-color:#6eccaf ;
}
.form-check-input:checked{
    background-color: #223142 ;
}
