.cruz{
    background-color: #6eccaf;
    color: #344d67;
    width: 35px;
    padding: 8px 10px;
    border-radius: 5px;
    border:none;
}
.carctGeneral{
    width: 350px ;
}
ul{
    list-style: none ;
}
.caracteristicas:hover {
    background-color: #6eccaf;
    color: #344d67;
    cursor: pointer;
}
.caracteristicas {
    background-color: initial;
    color: #f5f5f5;
    font-size: 1.2rem;
    border: solid 1px black;
}
.cardInfo{
    align-self: center;
}
.boton-close{
    color: #344d67;
    padding-right: 5px;
    font-size: 20px;
}